/* Pagamentos.css */

.table-container {
    margin: 20px;
  }
  
  /* Estilos para a tabela */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .table th, .table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f4f4f4;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .button {
    padding: 8px 16px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .button-excluir {
    background-color: #e74c3c; /* Red */
  }
  
  .button-desaprovar {
    background-color: #f39c12; /* Yellow */
  }
  
  .button-aprovar {
    background-color: #2ecc71; /* Green */
  }
  .button-entrou {
    background-color: #2e65cc; /* Green */
  }
  
  .button-excluir:hover {
    background-color: #c0392b;
  }
  
  .button-desaprovar:hover {
    background-color: #e67e22;
  }
  .button-entrou:hover {
    background-color: #418bda;
  }
  
  .button-aprovar:hover {
    background-color: #27ae60;
  }
  .card-container {
        display: none;
}
.btns{
    display: flex;
    gap: 1pc;
}
.highlighted {
    background-color: yellow;
  }
  
  /* Responsividade para telas pequenas */
  @media (max-width: 768px) {
    .table {
      display: none; /* Esconde a tabela em telas pequenas */
    }
  
    .card-container {
        display: block;
      display: flex;
      flex-direction: column;
    }
  
    .card {
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 16px;
      margin: 8px 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .card h2 {
      margin-top: 0;
    }
  
    .card-actions {
      display: flex;
      gap: 8px;
      margin-top: 16px;
    }
  
    .card-actions .button {
      padding: 8px 12px;
      font-size: 14px;
    }
  }
  